<div class="property-name">{{ options.name }}:</div>
<div class="property-value">
  {{ property }}
</div>
<button mat-button color="primary" *ngIf="options.widget && options.widget === 'showDetailLink'" (click)="onDetailClick(options.widgetOptions)">
  Подробнее
</button>
