
<form class="form">
  <mat-form-field class="full-width">
    <input type="text" placeholder="{{filterFieldName}}" aria-label="Assignee" matInput [formControl]="form" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option[filterField]">
        {{ option[filterField] }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
