<div *ngIf="feature">

  <div *ngIf="meta">
    <div role="list" *ngFor="let field of meta.display.fields;" class="feature-propperty-list">
      <div role="listitem">
        <app-feature-property [property]="feature.properties[field]" [options]="meta.fields[field]" [properties]="feature.properties"
          class="feature-propperty-list-item"></app-feature-property>
      </div>
    </div>
  </div>


  <div *ngIf="!meta">
    {{feature.properties | json}}
  </div>



</div>
