<mat-toolbar color="primary">

  <button mat-icon-button (click)="goToMainPage()">
    <mat-icon>home</mat-icon>
  </button>
  <div class="logo" (click)="goToMainPage()">NextGisTestApp</div>
  <span class="example-spacer"></span>

</mat-toolbar>


 <div class="app-component-viewer">
        <router-outlet></router-outlet>
</div>
