.selected-feature-card {
  position: absolute;
  right:0;
  top: 0;
  width: 200px;
  z-index: 500;

  margin-top: calc(64px + 10px);
  margin-right: 10px
}

.map-container-wrapper, .container, .sidenav-content {
  width: 100%;
  height: 100%;
}

.sidenav {
  width: 300px;
}

.map-filter {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
  padding: 10px;
}

.inline {
  display: inline-block;
}

.mapservice-selector {
  margin-bottom: 10px;
}
