<div class="map-container-wrapper">

  <mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="selectedFeature" *ngIf="featuresMeta">
      <app-feature-info [feature]="selectedFeature" [meta]="featuresMeta"></app-feature-info>
    </mat-drawer>

    <div class="sidenav-content">
      <div id="{{ mapId }}"></div>

      <div class="map-filter" *ngIf="emergencies && featuresMeta">

        <div class="mapservice-selector">
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle *ngFor="let s of mapServices" [value]="s.value" [checked]='s.value === mapServiceName' (click)='changeMapService(s.value)'>
              {{ s.name }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="inline">
          <app-features-filter [filterField]="filterField" [emergencies]="emergencies" [meta]="featuresMeta" (filterChange)="filterChange($event)">
          </app-features-filter>
        </div>

        <div class="inline" *ngIf="filterFields">

          <button mat-icon-button [matMenuTriggerFor]="filterMenu">
            <mat-icon>tune</mat-icon>
          </button>
          <mat-menu #filterMenu="matMenu">
            <button *ngFor="let f of filterFields" mat-menu-item (click)="changeFilterField(f.value)">
              <span>{{ f.name }}</span>
            </button>
          </mat-menu>

        </div>




      </div>
    </div>

  </mat-drawer-container>



</div>
