/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* @import 'leaflet/dist/images/marker-icon-2x.png';
@import 'leaflet/dist/images/marker-icon.png';
@import 'leaflet/dist/images/marker-shadow.png'; */
@import 'leaflet/dist/leaflet.css';

@import 'mapbox-gl/dist/mapbox-gl.css';


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
	font-family: Helvetica;
	background: #eee;
  -webkit-font-smoothing: antialiased;
}

/* TODO: move to map.component.css */
#map {
  width: 100%;
  height: 100%;
}


.example-spacer {
  flex: 1 1 auto;
}

.group {
	position: relative;
}

.fr {
  float: right;
}

.full-width {
  width: 100%;
}

.mat-card {
	margin: 2em auto;
	/*padding: 2em 1em 1em 1em;*/
}

.mat-input-container{
  width: 100%;
}

.mat-card-header-text {
  width: 100%;
}

.xs-list-item {
  margin: 10px 0;
}


